<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Euro201664 - Pronostics entre potes - Equipes</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="./app/css/jumbotron.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Euro201664</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Pseudo" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Mot de passe" class="form-control">
                </div>
                <button type="submit" class="btn btn-danger" >Déconnexion</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container" ng-controller="TeamController">
    <!-- Example row of columns -->
    <h1>Equipes</h1>
<div ng-repeat="team in teams">
    <h3><img ng-src="{{team.imgUrl}}">{{team.name}}</h3>
    <hr>
</div>

    <!--<ul >-->
        <!--<li ng-repeat="team in teams">{{team.name}}</li>-->
    <!--</ul>-->

    <hr>
    <a class="btn btn-danger" href="index.html" role="button">Retour</a>
    <hr>

    <footer>
        <p>&copy; 2016 Arthur Lefebvre</p>
    </footer>
</div> <!-- /container -->

<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script src="app/scripts/app.js"></script>
<script src="app/scripts/controllers.js"></script>
<script src="app/scripts/services.js"></script>

</body>
</html>

